.HeadLine {
  font-family: $HeaderFont;
  text-align: center;
}

.MenuAwsomeIcon {
  width: 0.8rem;
  color: rgb(98, 98, 104);
  margin-left: 5px;
  margin-right: 5px;
}

.OverviewAwsomeIcon {
  @extend .MenuAwsomeIcon;
  width: 1rem;
}
