// #region Height in ViewHeight
.h50vh {
  height: 50vh;
} 
.h90vh {
  height: 90vh;
}
.h65vh {
  height: 65vh;
}
.h505vh {
  height: 5.5vh;
}
.h2vh {
  height: 2vh;
}
.h3vh {
  height: 3vh;
}
.h305vh {
  height: 3.5vh;
}
.h5vh {
  height: 5vh;
}
.h6vh {
  height: 6vh;
}
.h8vh {
  height: 8vh;
}
.h10vh {
  height: 10vh;
}
.h12vh {
  height: 12vh;
}
.h13vh {
  height: 13vh;
}
.h15vh {
  height: 15vh;
}
.h18vh {
  height: 18vh;
}
.h20vh {
  height: 20vh;
}
.h2rem {
  height: 3rem;
}
.hMin4vh {
  min-height: 5vh;
}
.h65vh {
  height: 65vh;
}
.h100vh {
  height: 100%;
}
// #endregion
// #region Width in ViewWidth
.w3vw {
  width: 3vw;
}
.w105vw {
  width: 1.5vw;
}
.w1vw {
  width: 1vw;
}
.w2vw {
  width: 2vw;
}
.w205vw {
  width: 2.5vw;
}
.w4vw {
  width: 4vw;
}
.w5vw {
  width: 5vw;
}
.w6vw {
  width: 6vw;
}
.w40Per {
  width: 40%;
}
.w7vw {
  width: 7vw;
}
.w8vw {
  width: 8vw;
}
.w9vw {
  width: 9vw;
}
.w10vw {
  width: 10vw;
}

.w15vw {
  width: 15vw;
}
.w18vw {
  width: 18vw;
}
.w20vw {
  width: 20vw;
}
.w30vw {
  width: 32vw;
}
.w80Per {
  width: 80%;
}
.w90Per {
  width: 90%;
}
.w98Per {
  width: 98%;
}
.w64-5vw {
  width: 64.5vw;
}
.wpx {
  width: 20px;
}
.h100px {
  height: 100px;
}
.hMin50px {
  min-height: 50px;
}
.hMin75per {
  min-height: 75%;
}
// #endregion
// #region TextSize in rem & FontFamily
.fontsize2rem {
  font-size: 2rem;
}
.fontsize102rem {
  font-size: 1.2rem;
}
.fontsize103rem {
  font-size: 1.3rem;
}
.fontsize105rem {
  font-size: 1.5rem;
}
.fontsize108rem {
  font-size: 1.8rem;
}
.fontsize05rem {
  font-size: 0.5rem;
}
.fontsize065rem {
  font-size: 0.65rem;
}
.fontsize08rem {
  font-size: 0.8rem;
}
.fontsize07rem {
  font-size: 0.7rem;
}
.fontsize09rem {
  font-size: 0.85rem;
}
.fontsize1rem {
  font-size: 1rem;
}

.BodyFont {
  font-family: $BodyFont;
}
.HeaderFont {
  font-family: $HeaderFont;
}
.TahomaFont {
  font-family: Tahoma;
}

// #endregion
