@mixin ResponsiveHeader {
  @media screen and (min-width: $md) {
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
    }
    #divSearch {
      height: 100%;
    }
    #divProfile {
      height: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
    }
    #divSearch {
      order: 2;
      height: 50%;
    }
    #divProfile {
      order: 1;
      height: 50%;
    }
  }
}
#divHeader {
  @include ResponsiveHeader;
}
