$HeaderFont: "Oswald"; //'Segoe UI' Oswald;
$BodyFont: "Segoe UI";

// #region Colors
$GrdFirstColor: red;
$GrdSeccondColor: black;
// #endregion


$MainJumbotonsBgColor: #fff;
$MainBarColor: #203034;
$ColorMainFaded: #7c968d;
$ColorTrainerRed: #f32f2f;
$ColorFieldsBlue: #1a9eb9;
$ColorPricingMagnet: #be238f;
$ColorLightPurple: #f7f3fd;
$ColorWhiteSmoke: #f9f9f9;
$ColorBorderGray: #707070;
$ColorCardText: #545655;
$ColorFooter: #e1dfdf;